<h1>Events list</h1>
<p class="lead">Click on event to show more info and predict event. </p>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="sort-by sort-by-summary" data-sort="summary">Event name</th>
            <th class="sort-by sort-by-competition" data-sort="competition">Competition</th>
            <th class="sort-by sort-by-start_time" data-sort="start_time">Date</th>
            <th class="sort-by sort-by-prediction_count" data-sort="prediction_count">Predictions</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="events-list">

    </tbody>
</table>
<div class="checkbox">
    <label>
        <input class="unpredicted-filter" type="checkbox"> Show unpredicted events only
    </label>
</div>
<p>
    Click on table headline to sort by choosen attribute.
</p>